<!DOCTYPE HTML>
<!--
Hyperspace by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>{{ title }} - {{ tag_title_description }}</title>
	<meta charset="utf-8" />
	<meta name="theme-color" content="#022B48">
	<link rel="icon" sizes="192x192" href="assets/css/images/W-favico.png">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

</head>

<body>

	<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<div class="mainLogo"><img src="assets/css/images/W-favico.png" width="80px" /></div>
			<nav>
				<ul>
					<li><a href="#intro">Welcome to {{ title }}</a></li>
					<li><a href="#one">Try a fake news</a></li>
					<li><a href="#two">Some Statistics</a></li>
					<li><a href="#three">Meet the team</a></li>
					<li><a href="#four">Contacts</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<div id="intro" class="wrapper style1 fullscreen fade-up">
			<canvas></canvas>
			<div class="inner">
				<h1>{{ title }}</h1>
				<p>{{ description }}&trade;</p>
				 <div class="tweetForm">
					<div class="style1 ">
						<section>
							<form name="TweetURL" method="post" action="/tweet">
								<div class="field quarter first">
									<input type="text" name="tweet" id="tweet" placeholder="Paste a tweet's URL" size="10" />
								</div>
								<div class="field quarter">
									<ul class="actions">
										<li><a href="" class="button submit">Check hoax</a></li>
									</ul>
								</div>
							</form>
						</section>
					</div>
				</div>
				<section>
					<div class="tweetForm">
						<ul class="actions">
							<li><a href="#one" class="button scrolly">Show me an example</a></li>
						</ul>
					</div>
				</section>
			</div>
		</div>
		<!-- One -->
		<section id="one" class="wrapper style2 fade-up">
			<div class="inner">
					<!-- <h2>What is it about </h2>
						<p>You are a fake news</p> -->
						<h1>Check out this demo</h1>
						<p>Fake news are important part of our daily life bla bla bla</p>
						<div class="split style1">
							<div class="field half first">

								<div class="demoFakeTweets">
									<div class="demoTweet tweet1"><img src="images/tweetDemo1.png" /></div>
									<div class="demoTweet tweet2"><img src="images/tweetDemo2.png" /></div>
									<div class="demoTweet tweet3"><img src="images/tweetDemo3.png" /></div>
								</div>
								{{#each demoTweets}} {{tweet_id}} {{/each}}
								<ul class="actions">
									<li><a href="" class="button submit" id="loadMoreDemoTweets">Load more</a></li>
								</ul>
							</div>
						</div>
					</div>

				<!-- <section>
					<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
					<div class="content">
						<div class="inner">
							<h2>Sed ipsum dolor</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
						</div>
					</div>
			</section>
			<section>
				<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
				<div class="content">
					<div class="inner">
						<h2>Feugiat consequat</h2>
						<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn more</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
				<div class="content">
					<div class="inner">
						<h2>Ultricies aliquam</h2>
						<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn more</a></li>
						</ul>
					</div>
				</div>
			</section> -->
		</section>
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<!-- Two -->
		<section id="two" class="wrapper style3 fade-up">
			<div class="inner stats">
				<h2>Stats</h2>
				<p>Here are some graph representing our dataset and the statistics carried out with the analysis of the tweets.</p>

				<div id="timelineGraph"></div>

				<meta charset="utf-8">
				<style>

				.axis path,
				.axis line {
					fill: none;
					stroke: #015984;
					shape-rendering: crispEdges;
				}

				.x.axis path {
					display: none;
				}

				.line {
					fill: none;
					stroke: steelblue;
					stroke-width: 1.5px;
				}

				.overlay {
					fill: none;
					pointer-events: all;
				}

				.focus circle {
					fill: none;
					stroke: steelblue;
				}

				.centerGraph {
					margin : 0 auto;
				}
				.svg {
					display: block;
					margin: 0 auto;
				}

			</style>
			<script src="//d3js.org/d3.v3.min.js"></script>

			<script>

				var margin = {top: 20, right: 50, bottom: 30, left: 200},
				width = 960 - margin.left - margin.right,
				height = 500 - margin.top - margin.bottom;

				var parseDate = d3.time.format("%Y-%m-%d").parse,
				bisectDate = d3.bisector(function(d) { return d.date; }).left,
				formatCurrency = function(d) { return "# Tweets " + d; };

				var x = d3.time.scale()
				.range([0, width]);

				var y = d3.scale.linear()
				.range([height, 0]);

				var xAxis = d3.svg.axis()
				.scale(x)
				.orient("bottom");

				var yAxis = d3.svg.axis()
				.scale(y)
				.orient("left");

				var line = d3.svg.line()
				.x(function(d) { return x(d.date); })
				.y(function(d) { return y(d.quantity); });

				var svg = d3.select("#timelineGraph")
				.append("center")
				.append("svg")
				.attr("width", width + margin.left + margin.right)
				.attr("height", height + margin.top + margin.bottom)
				.append("g")
				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				d3.json("timeline.json", function(error, data) {
					if (error) throw error;

					data.forEach(function(d) {
						d.date = parseDate(d.date);
						d.quantity = +d.quantity;
					});

					data.sort(function(a, b) {
						return a.date - b.date;
					});

					x.domain([data[0].date, data[data.length - 1].date]);
					y.domain(d3.extent(data, function(d) { return d.quantity; }));

					svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis);

					svg.append("g")
					.attr("class", "y axis")
					.call(yAxis)
					.append("text")
					.attr("transform", "rotate(-90)")
					.attr("y", 6)
					.attr("dy", ".71em")
					.style("text-anchor", "end")
					.text("Tweets");

					svg.append("path")
					.datum(data)
					.attr("class", "line")
					.attr("d", line);

					var focus = svg.append("g")
					.attr("class", "focus")
					.style("display", "none");

					focus.append("circle")
					.attr("r", 4.5);

					focus.append("text")
					.attr("x", 9)
					.attr("dy", ".35em");

					svg.append("rect")
					.attr("class", "overlay")
					.attr("width", width)
					.attr("height", height)
					.on("mouseover", function() { focus.style("display", null); })
					.on("mouseout", function() { focus.style("display", "none"); })
					.on("mousemove", mousemove);

					function mousemove() {
						var x0 = x.invert(d3.mouse(this)[0]),
						i = bisectDate(data, x0, 1),
						d0 = data[i - 1],
						d1 = data[i],
						d = x0 - d0.date > d1.date - x0 ? d1 : d0;
						focus.attr("transform", "translate(" + x(d.date) + "," + y(d.quantity) + ")");
						focus.select("text").text(formatCurrency(d.quantity));
					}
				});

			</script>

            <div id="tooltip" class="hidden">
                <p><span id="value"/></p>
            </div>

            <div id="chart" style='overflow:auto;'></div>

            <script type="text/javascript">
                var margin = { top: 50, right: 10, bottom: 50, left: 100 },
                cellWidth=40
                cellHeight=10
                col_number=7;
                row_number=24;
                width = cellWidth * col_number, // - margin.left - margin.right,
                height = cellHeight * row_number , // - margin.top - margin.bottom,
                //gridSize = Math.floor(width / 24),
                legendElementWidth = cellWidth/3,
                colorBuckets = 21,
                colors = ['rgba(5,240,230,0)',
                    'rgba(5,240,230,0.05)','rgba(5,240,230,0.1)','rgba(5,240,230,0.15)','rgba(5,240,230,0.2)','rgba(5,240,230,0.25)',
                    'rgba(5,240,230,0.3)','rgba(5,240,230,0.35)','rgba(5,240,230,0.4)','rgba(5,240,230,0.45)','rgba(5,240,230,0.5)',
                    'rgba(5,240,230,0.55)','rgba(5,240,230,0.6)','rgba(5,240,230,0.65)','rgba(5,240,230,0.7)','rgba(5,240,230,0.75)',
                    'rgba(5,240,230,0.8)','rgba(5,240,230,0.85)','rgba(5,240,230,0.9)','rgba(5,240,230,0.95)','rgba(5,240,230,1)']
                rowLabel = ['00:00 AM','01:00 AM','02:00 AM','03:00 AM','04:00 AM','05:00 AM','06:00 AM','07:00 AM','08:00 AM','09:00 AM','10:00 AM','11:00 AM',
                    '00:00 PM','01:00 PM','02:00 PM','03:00 PM','04:00 PM','05:00 PM','06:00 PM','07:00 PM','08:00 PM','09:00 PM','10:00 PM','11:00 PM']
                colLabel = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'];

                d3.tsv("data_heatmap.tsv",
                        function(d) {
                            return {
                                row:   +d.row_idx,
                                col:   +d.col_idx,
                                value: +d.log2ratio
                            };
                        },
                        function(error,data) {

                            var colorScale = d3.scale.quantile()
                                    .domain([ 1000 , 3400, 7800])
                                    .range(colors);

                            var svg = d3.select("#chart").append("svg")
                                    .attr("width", width + margin.left + margin.right)
                                    .attr("height", height + margin.top + margin.bottom)
                                    .append("g")
                                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                            var rowSortOrder=false;
                            var colSortOrder=false;

                            var rowLabels = svg.append("g").selectAll(".rowLabelg")
                                    .data(rowLabel)
                                    .enter()
                                    .append("text")
                                    .text(function (d) { return d; })
                                    .attr("x", 0)
                                    .attr("y", function (d, i) { return i * cellHeight; })
                                    .style("text-anchor", "end")
                                    .attr("transform", "translate(-10," + cellHeight / 1.5 + ")")
                                    .attr("class", function (d,i) { return "rowLabel mono r"+i;} )
                                    .on("mouseover", function(d) {d3.select(this).classed("text-hover",true);})
                                    .on("mouseout" , function(d) {d3.select(this).classed("text-hover",false);});

                            var colLabels = svg.append("g").selectAll(".colLabelg")
                                    .data(colLabel)
                                    .enter()
                                    .append("text")
                                    .text(function (d) { return d; })
                                    // Giocare col parametro 7 per centrare
                                    .attr("x", function (d, i) { return i * cellWidth + (cellWidth-(d.length*7))/2; })
                                    .attr("y", cellHeight*25.25)
                                    .style("text-anchor", "left")
                                    .attr("class",  function (d,i) { return "colLabel mono c"+i;} )
                                    .on("mouseover", function(d) {d3.select(this).classed("text-hover",true);})
                                    .on("mouseout" , function(d) {d3.select(this).classed("text-hover",false);});

                            var heatMap = svg.append("g").attr("class","g3").selectAll(".cellg")
                                    .data(data, function(d){return d.row+":"+d.col;})
                                    .enter()
                                    .append("rect")
                                    .attr("x", function(d) { return (d.col-1) * cellWidth; })
                                    .attr("y", function(d) { return (d.row-1) * cellHeight; })
                                    .attr("class", function(d){return "cell cell-border cr"+(d.row-1)+" cc"+(d.col-1);}) // griglia
                                    .attr("width", cellWidth)
                                    .attr("height", cellHeight)
                                    .style("fill", function(d) { return colorScale(d.value); })
                                    .on("mouseover", function(d){
                                        //highlight text
                                        d3.select(this).classed("cell-hover",true);
                                        d3.selectAll(".rowLabel").classed("text-highlight",function(r,ri){ return ri==(d.row-1);});
                                        d3.selectAll(".colLabel").classed("text-highlight",function(c,ci){ return ci==(d.col-1);});

                                        //Update the tooltip position and value
                                        d3.select("#tooltip")
                                                .style("left", (d3.event.pageX+10-310) + "px")
                                                .style("top", (d3.event.pageY-10-1550) + "px")
                                                .select("#value")
                                                .text("Quantity: "+d.value);
                                        //Show the tooltip
                                        d3.select("#tooltip").classed("hidden", false);
                                    })
                                    .on("mouseout", function(){
                                        d3.select(this).classed("cell-hover",false);
                                        d3.selectAll(".rowLabel").classed("text-highlight",false);
                                        d3.selectAll(".colLabel").classed("text-highlight",false);
                                        d3.select("#tooltip").classed("hidden", true);
                                    })
                            ;

                            var legend = svg.selectAll(".legend")
                                    .data([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
                                    .enter()
                                    .append("g")
                                    .attr("class", "legend");

                            legend.append("rect")
                                    .attr("x", function(d, i) { return legendElementWidth * i; })
                                    .attr("y", height+(cellHeight*2))
                                    .attr("width", legendElementWidth)
                                    .attr("height", cellHeight)
                                    .style("fill", function(d, i) { return colors[i]; });

                            /*
                            legend.append("text")
                                .attr("class", "mono")
                                .text(function(d) { return d; })
                                .attr("width", legendElementWidth)
                                .attr("x", function(d, i) { return legendElementWidth * i; })
                                .attr("y", height + (cellHeight*4));*/

                        });
            </script>
					<!-- <div class="features">
						<section>
							<span class="icon major fa-code"></span>
							<h3>Lorem ipsum amet</h3>
							<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
						</section>
						<section>
							<span class="icon major fa-lock"></span>
							<h3>Aliquam sed nullam</h3>
							<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
						</section>
						<section>
							<span class="icon major fa-cog"></span>
							<h3>Sed erat ullam corper</h3>
							<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
						</section>
						<section>
							<span class="icon major fa-desktop"></span>
							<h3>Veroeros quis lorem</h3>
							<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
						</section>
						<section>
							<span class="icon major fa-chain"></span>
							<h3>Urna quis bibendum</h3>
							<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
						</section>
						<section>
							<span class="icon major fa-diamond"></span>
							<h3>Aliquam urna dapibus</h3>
							<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
						</section>
					</div>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div> -->
			</section>

			<!-- Three -->
			<section id="three" class="wrapper style4 fade-up">
				<div class="inner">
					<h2>Meet the team</h2>
					<div class="team first-row">
						<div class="card card-first-row">
							<img src="images/us/gioele_bigini.jpg">
							<h3>Gioele Bigini</h3>
							<p>Front-end & Data visualization</p>

								<ul>
								<li><a href="https://www.linkedin.com/in/gioelebigini/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/BigG-DSC" target="_blank"><i class="fab fa-github"></i></a></li>
							</ul>

						</div>
						<div class="card card-first-row">
							<img src="images/us/filippo_calzavara.jpg">
							<h3>Filippo Calzavara</h3>
							<p>UX & Front-end development</p>

								<ul>
								<li><a href="https://www.linkedin.com/in/filippocalzavara/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/philosss" target="_blank"><i class="fab fa-github"></i></a></li>
								<li><a href="https://calzavara.me/" target="_blank"><i class="fas fa-globe"></i></a></li>
							</ul>

						</div>
						<div class="card card-first-row">
							<img src="images/us/hichame_yessou.jpg">
							<h3>Hichame Yessou</h3>
							<p>Front-end & Data visualization</p>

								<ul>
								<li><a href="https://www.linkedin.com/in/hichame-yessou/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/hichameyessou" target="_blank"><i class="fab fa-github"></i></a></li>
								<li><a href="http://hichame.com/" target="_blank"><i class="fas fa-globe"></i></a></li>
							</ul>

						</div>
					</div>
					<div class="team second-row">
						<div class="card card-second-row">
							<img src="images/us/massimo_perini.jpg">
							<h3>Massimo Perini</h3>
							<p>AI development</p>
								<ul>
								<li><a href="https://www.linkedin.com/in/perinimassimo/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/massimoPerini" target="_blank"><i class="fab fa-github"></i></a></li>
								<li><a href="https://www.perini.me/" target="_blank"><i class="fas fa-globe"></i></a></li>
							</ul>
						</div>
						<div class="card card-second-row">
							<img src="images/us/harilal_orunkara_poyil.jpg">
							<h3>Harilal Orunkara Poyil</h3>
							<p>AI & Domain Expert</p>
								<ul>
								<li><a href="https://www.linkedin.com/in/harilalop/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/harilalpolimi" target="_blank"><i class="fab fa-github"></i></a></li>
							</ul>
						</div>
						<div class="card card-second-row">
							<img src="images/us/alessio_baccelli.jpg">
							<h3>Alessio Baccelli</h3>
							<p>AI development</p>
								<ul>
								<li><a href="https://www.linkedin.com/in/alessio-baccelli-91ba5b130/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/alexbacce" target="_blank"><i class="fab fa-github"></i></a></li>
							</ul>
						</div>
						<div class="card card-second-row">
							<img src="images/us/luca_comoretto.jpg">
							<h3>Luca Comoretto</h3>
							<p>AI development</p>
								<ul>
								<li><a href="https://www.linkedin.com/in/luca-comoretto-083205117/" target="_blank" ><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://github.com/lucacomoretto" target="_blank"><i class="fab fa-github"></i></a></li>
							</ul>
						</div>
					</div>


					<!-- <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
					<div class="split style1">
						<section>
							<form method="post" action="#">
								<div class="field half first">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
								<ul class="actions">
									<li><a href="" class="button submit">Send Message</a></li>
								</ul>
							</form>
						</section>
						<section>
							<ul class="contact">
								<li>
									<h3>Address</h3>
									<span>12345 Somewhere Road #654<br />
											Nashville, TN 00000-0000<br />
											USA</span>
								</li>
								<li>
									<h3>Email</h3>
									<a href="#">user@untitled.tld</a>
								</li>
								<li>
									<h3>Phone</h3>
									<span>(000) 000-0000</span>
								</li>
								<li>
									<h3>Social</h3>
									<ul class="icons">
										<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
									</ul>
								</li>
							</ul>
						</section>
					</div>
				</div> -->
			</section>
			<section id="four" class="wrapper style3 fade-up">
				<div class="inner">
					<h2>Contacts</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
				</div>
			</section>


		</div>

		<!-- Footer -->
		<footer id="footer" class="wrapper alt">

			<div class="inner">
				<ul class="menu">
					<li>POLIMI Digital Lab 2018</li>
					<li>Group <i>GestIT</i></li>
					<li>Base theme by <i><a href="http://html5up.net">HTML5 UP</a></i></li>
					<li>Readapted by <i>Los Bandidos</i></li>

				</ul>
				<div class="externalLogos">
				<div class="externalLogosBlock">
					<a href="https://www.polimi.it/" target="_blank"><img src="images/logo_polimi.png" height="60px"></a>
					<a href="https://www.ibm.com/" target="_blank"><img src="images/logo_ibm.png" height="50px"></a>
				</div>
				<div class="externalLogosBlock right">
					<a href="https://www.eitdigital.eu/" target="_blank"><img src="images/logo_eit.png" height="60px"></a>
				</div>




				</div>
			</div>

		</footer>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
	</body>

	</html>
